@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Outfit:wght@100..900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Young+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Outfit:wght@100..900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Space+Grotesk:wght@300..700&family=Young+Serif&display=swap');

/* CSS RESET */

* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

:root {
    --white: #fff;
    --peach-yellow: #F7DBA7;
    --brown-sugar:#C57B57;
    --pale-dogwood: #f8d4c1;
    --umber: #6f584b;
}

/* GENERAL STYLING */
body {
    background-color: #ccdde2;
    font-family:"Lato", sans-serif;
}
.container {
    max-width: 50vw;
    height:60vh;
    background-color: #93a3bc;
    margin: auto;
    border-radius:10px;
    box-shadow:0 10px 15px var(--umber);
    margin-top: 7rem;
}
h1 {
    font-size:2rem;
    text-align: center;
    color:black;
}
p {
    font-size:1.7rem;
    font-family: inherit;
    font-weight:600;
    color: var(--umber);
    text-align: center;
    padding-top:6rem;

}
form {
    position:relative;
}
span {
    color:red;
    font-weight:600;
}
input {
    width:60%;
    height:30px;
    display: block;
    margin: auto;
    background-color:var(--white);
    outline: none;
    border:none;
    padding:1.3rem;
    margin-top:20px;
    box-shadow: 0 10px 15px var(--umber);
    border-radius:5px;
}
input.error {
    border:1px solid red;
}
.error_image {
    position: absolute;
    top:8px;
    right:24%;
}
button {
    width:25%;
    height:25px;
    display: block;
    margin:auto;
    font-family: inherit;
    font-weight: 600;
    margin-top:20px;
    border-radius:10px;
    outline:none;
    border:none;
}
button:hover,
button:focus {
    background-color:var(--umber);
    color:var(--white);
    cursor:pointer;
}
.introduction {
    padding-top:0;
    font-size:1rem;
    color:var(--white);
    font-weight:400;
    font-family:inherit;
    width:60%;
    text-align: center;
    margin: auto;
    margin-top:10px;
}
.lifeline {
    padding-top:0;
}
.warning_text {
    display: flex;
    gap: 1rem;
    width:45%;
    margin: auto;
    margin-top:20px;
}
.form_details {
    padding-top: 0;
    margin-top:20px;
}
.result {
    padding-top:0;
    margin-top:50px;
    font-family: "Space Grotesk", sans-serif;
    font-size:1.5rem;
}
.hide {
    display: none;
}

@media screen and (min-width:375px) and (max-width:425px) {
    .container {
        max-width:80vw;
        height:80vh;
    }
    .introduction {
        margin-top:30px;
        width:90%;
        font-family: "Space Grotesk", sans-serif;
        line-height:1.5;
    }
    .form_details {
        margin-top:40px;
        font-size:1.2rem;
    }
    input {
        width:85%;
    }
    button {
        width:50%;
        height:30px;
        margin-top:28px;
    }
    .result {
        font-size:1rem;
        margin-top:30px;
    }
    .error_image {
        right: 15%;
    }
}

@media screen and (min-width:426px) and (max-width:768px) {
 .container {
    max-width: 80vw;
    height:80vh;
 }
 .introduction {
    width:80%;
    font-family: "Space Grotesk", sans-serif;
    line-height:1.5;
    margin-top:20px;
 }
 .form_details {
    margin-top:40px;
    font-size:1.2rem;
 }
 input {
    width:80%;
 }
 button {
    width:60%;
    height:30px;
    margin-top:28px;
 }
 .result {
    font-size:1rem;
    margin-top:30px;
 }
}

@media screen and (min-width:1024px) {
    .container {
        max-width: 70vw;
        height:60vh;
    }
    .introduction {
        width: 85%;
        font-family: "Space Grotesk", sans-serif;
        line-height:1.5;
        margin-top:20px;
    }
    .form_details {
        margin-top:40px;
    }

}